@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Kumbh Sans';
}

body {
	padding: 0 100px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid hsla(220, 14%, 75%, 0.267);
	color: hsl(219, 9%, 45%);
	font-size: 14px;
	padding: 30px 0;
}
.nav-left,
.nav-right {
	display: flex;
	align-items: center;
}
.nav-left img {
	margin-right: 60px;
}
.nav-left span {
	margin: 0 10px;
}
.nav-right img:first-child {
	height: 16px;
}
.nav-right .avatar {
	margin-left: 25px;
	width: 40px;
	height: 40px;
}

main {
	padding: 50px;
	display: flex;
}

.product-left,
.product-right {
	width: 50%;
	padding: 0 6%;
}

.product-left > img {
	width: 100%;
	border-radius: 10px;
}

.product-left div {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.product-left div div {
	border-radius: 10px;
	overflow: hidden;
}
.product-left div img {
	border-radius: 8px;
	position: relative;
	width: 70px;
}

.product-left div div:first-child {
	border: 2px solid hsl(26, 100%, 55%);
}
.product-left div div:first-child img {
	opacity: 0.3;
}

.product-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product-right .company {
	color: hsl(26, 100%, 55%);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 12px;
	letter-spacing: 0.8px;
}

h1 {
	font-size: 36px;
	line-height: 40px;
}

.description {
	color: hsl(219, 9%, 45%);
	font-size: 14px;
	line-height: 21px;
	margin: 20px 0 15px;
}
.price-percent {
	display: flex;
	align-items: center;
}

.price-now {
	font-weight: 700;
	font-size: 20px;
}

.percent-off {
	background: hsl(25, 100%, 94%);
	color: hsl(26, 100%, 55%);
	font-weight: 600;
	font-size: 13px;
	padding: 3px 6px;
	border-radius: 5px;
	margin-left: 10px;
}

.initial-price {
	margin-top: 8px;
	text-decoration: line-through;
	color: hsl(220, 14%, 75%);
	font-weight: 600;
	font-size: 14px;
}

.cart-details {
	display: flex;
	margin-top: 25px;
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: space-between;
}
.add-minus {
	background: hsl(223, 64%, 98%);
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 20px;
	border-radius: 10px;
}
.add-minus span {
	margin: 0 25px;
	font-weight: 700;
	font-size: 14px;
}
.add-minus img {
	cursor: pointer;
	width: 12px;
}
.add-to-cart {
	cursor: pointer;
	background: hsl(26, 100%, 55%);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: 13px 10px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.2px;
	box-shadow: hsla(26, 100%, 55%, 0.61) 0px 12px 15px -10px;
}
.add-to-cart svg {
	margin-right: 10px;
	transform: scale(0.7);
}

.add-to-cart svg path {
	fill: white;
}
